.highlights {
    background: #fff3db;
    padding-block: var(--space-xxxl);
}

.highlightsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--space-m);
    row-gap: var(--space-xxl);
}

@media (max-width: 768px) {
    .highlightsWrapper {
        grid-template-columns: 1fr;
    }
}

.highlight {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--space-l);
}

.highlightImageBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: var(--primary);
    border-radius: 50%;
    margin-inline: auto;
}

@media (max-width: 768px) {
    .highlights {
        padding-block: var(--space-xxl);
    }
}
