.button {
    padding-inline: 0.8em;
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    cursor: pointer;
    &:focus:focus-visible {
        z-index: 1;
        outline: 2px solid var(--primary-opacity);
    }
    &:disabled,
    &[disabled] {
        pointer-events: none;
        background: var(--neutral-gray);
        border-color: var(--neutral-gray);
    }
}

.buttonContent {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
}

.buttonDefault {
    background: var(--link);
    border: 1px solid var(--link);
    color: var(--neutral-white);
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background: var(--link-hover);
        transition: background-color 0.2s ease-in-out;
    }
}

.buttonSubtle {
    color: inherit;
    border: 1px solid transparent;
    background: var(--neutral-white);
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background: var(--primary-opacity);
        transition: background-color 0.2s ease-in-out;
    }
}

.loadingState {
    position: relative;
    opacity: 0.6;
    pointer-events: none;
    .buttonContent {
        opacity: 0.4;
    }
    .loader {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        animation: spin 1s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
