.select {
    display: grid;
    padding: var(--input-padding);
    padding-right: 2.2em;
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    font-size: 0.8em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E")
        no-repeat var(--neutral-white);
    background-size: 1.2em;
    background-position: center right 0.5em;

    &::placeholder {
        color: var(--input-placeholder);
    }
    &:-ms-input-placeholder {
        color: var(--input-placeholder);
    }
    &::-ms-expand {
        display: none;
    }
    &::after {
        content: " ";
        width: 0.8em;
        height: 0.5em;
        background: tomato;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
    &:focus:focus-visible {
        z-index: 1;
        outline: 2px solid var(--primary-opacity);
    }
}
