:root {
    --neutral-white: #fff;
    --neutral-gray: #f4f5f7;
    --primary: #fdb933;
    --primary-opacity: #fdb93370;

    --background: var(--neutral-white);
    --text: #333;
    --subtitle: #d99f2c;
    --link: #008b90;
    --link-hover: #047478;
    --separator: #c8c8cc;

    --font: sans-serif;
    --font-size: 20px;
    --hero-size: 80px;
    --hero-mobile-size: 30px;

    --border-radius: 20px;

    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 40px;
    --space-xxxl: 80px;

    --input-height: 48px;
    --input-padding: 12px;
    --input-border-radius: 8px;
    --input-border: 1px solid #c8c8c8;
    --input-placeholder: #c8c8cc;

    --container: calc(
        var(--container-without-space) + (var(--container-space) * 2)
    );
    --container-without-space: 1328px;
    --container-space: var(--space-m);
}

html {
    font-family: var(--font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background: var(--background);
}

p {
    line-height: 1.5em;
}

h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
}

h1,
h2,
h3 {
    line-height: 1.5em;
}

ul,
ol {
    padding-left: var(--space-m);
    line-height: 1.5em;
}

a {
    color: var(--link);
    text-decoration: none;
    &:hover {
        color: var(--link-hover);
        text-decoration: underline;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg,
img {
    vertical-align: middle;
}

button,
input,
select,
textarea {
    max-width: 100%;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    appearance: none;
}

hr {
    height: 1px;
    background: var(--separator);
    border: none;
}

.container {
    width: 100%;
    max-width: var(--container);
    padding-inline: var(--container-space);
    margin-inline: auto;
}

.text-center {
    text-align: center;
}

.link-icon {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space-xxs);
    vertical-align: top;
}

.lucide {
    flex-shrink: 0;
}

$spaces: (
    "xxs": var(--space-xxs),
    "xs": var(--space-xs),
    "s": var(--space-s),
    "m": var(--space-m),
    "l": var(--space-l),
    "xl": var(--space-xl),
    "xxl": var(--space-xxl),
    "xxxl": var(--space-xxxl),
);

@each $key, $value in $spaces {
    .mb-#{$key} {
        margin-bottom: $value;
    }
    .negative-mb-#{$key} {
        margin-bottom: calc($value * -1);
    }
    .mt-#{$key} {
        margin-top: $value;
    }
    .negative-mt-#{$key} {
        margin-top: calc($value * -1);
    }
}

@media (max-width: 768px) {
    .font-s-mobile {
        font-size: 0.75em;
    }
}
