:root {
  --max-width: 1100px;

  --primary: #FDB933;
  
  --background: #FFF;
  --text: #333;
  --subtitle: #D99F2C;
  --link: #008B90;
  --link-hover: #047478;
  --separator: #C8C8CC;

  --font: sans-serif;
  --font-size: 20px;

  --border-radius: 20px;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-x: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;
  --space-xxxl: 80px
}

html {
  font-family: var(--font);
  font-size: var(--font-size);
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: var(--link);
  text-decoration: none;
  &:hover {
      color: var(--link-hover);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg,
img {
    vertical-align: middle;
}

button, input, select, textarea {
  max-width: 100%;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}


@media print {
  body {
    font-size: 8pt;
  }
}