.header {
    position: sticky;
    top: 0;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    padding-block: var(--space-m);
    background: var(--background);
}

.headerWrapper {
    display: flex;
    align-items: center;
    gap: var(--space-xxxl);
    justify-content: space-between;
}
