.header {
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    padding-block: var(--space-m);
    background: var(--background);
}

.headerWrapper {
    display: grid;
    align-items: center;
    grid-template-columns: auto 2fr auto;
    grid-template-areas: "logo search user";
    flex-wrap: wrap;
    column-gap: var(--space-xxxl);
    justify-content: space-between;
}

.logo {
    grid-area: logo;
}

@media (max-width: 1024px) {
    .headerWrapper {
        column-gap: var(--space-xl);
    }
}

@media (max-width: 768px) {
    .headerWrapper {
        grid-template-columns: auto auto;
        column-gap: var(--space-m);
        grid-template-areas:
            "logo user"
            "search search";
    }
}
