.user {
    grid-area: user;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--space-m);
    flex-shrink: 0;
}

.login {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
    font-size: 0.75em;
}
