.user {
    grid-area: user;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-xs);
    flex-shrink: 0;
    font-size: 0.75em;
}

.login {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
}

@media (max-width: 768px) {
    .loginText {
        display: none;
    }
}
