.testimonial {
    background: var(--neutral-gray);
    padding-block: var(--space-xxxl);
}

.testimonialWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-xxl);
}

.testimonialImageWrapper {
    flex: 1;
}

.testimonialImage {
    border-radius: var(--border-radius);
    max-width: 100%;
    max-height: 264px;
    width: auto;
    object-fit: cover;
}

.testimonialTextWrapper {
    flex: 1;
}

@media (max-width: 768px) {
    .testimonialImageWrapper {
        flex: auto;
    }
    .testimonialTextWrapper {
        flex: auto;
    }
}

.testimonialSubtitle {
    color: var(--subtitle);
}
