.sliderImages {
    display: grid;
    gap: var(--container-space);
    grid-column: 1 / -1;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-inline: calc(
        ((100% - var(--container-without-space)) / 2) - var(--container-space)
    );
    &::-webkit-scrollbar {
        display: none;
    }
}

.sliderImage {
    border-radius: var(--border-radius);
    scroll-snap-align: center;
    width: 320px;
    height: 183px;
    &:first-child {
        margin-left: 16px;
    }
    &:last-child {
        margin-right: 16px;
    }
}
